---
import Nav from "@components/section/Nav.astro";
import Hero from "@components/section/Hero.astro";
import Intro from "@components/section/Intro.astro";
import About from "@components/section/About.astro";
import News from "@components/section/News.astro";
import Sponsors from "@components/section/Sponsors.astro";
import Cycle from "@components/section/Cycle.astro";
import Time from "@components/section/Time.astro";
import Items from "@components/section/Items.astro";
import Plans from "@components/section/Plans.astro";
import Addons from "@components/section/Addons.astro";
import Form from "@components/section/Form.astro";
import FAQ from "@components/section/FAQ.astro";
import Footer from "@components/section/Footer.astro";
import Demo from "@components/section/Demo.astro";
import ogImage from "#assets/image/og.webp";
const { lang = "zh-Hant" } = Astro.props;
const t = await import(`../i18n/${lang}.json`).then(m => m.default);
const sections = [Nav, Hero, Demo, Intro, About, News, Sponsors, Cycle, Time, Items, Plans, Addons, Form, FAQ, Footer];
---

<html lang={lang}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/cfp/SITCON.svg" />
		<title>{t.meta.title}</title>
		<meta name="description" content={t.meta.description} />
		<meta property="og:title" content={t.meta.title} />
		<meta property="og:type" content="website" />
		<meta property="og:image" content={ogImage.src} />
		<meta property="og:description" content={t.meta.description} />
		<meta property="og:site_name" content="SITCON Camp" />
		<meta name="twitter:title" content={t.meta.title} />
		<meta name="twitter:image" content={ogImage.src} />
		<meta name="twitter:card" content="summary_large_image" />
		<link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
		<link rel="shortcut icon" href="/favicon/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="SITCON" />
		<link rel="manifest" href="/favicon/site.webmanifest" />
		<meta name="theme-color" content="#77B55A" />
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-GVRT4CHSQJ" is:inline></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-GVRT4CHSQJ");
		</script>
	</head>
	<body class="emfont-LINESeedTW">
		{
			sections.map(Component => {
				// 簡單來說就是複製貼上所有 HTML 上來，只是用 for 迴圈寫比較簡潔。
				const key = Component.name.toLowerCase();
				return <Component t={t[key]} />;
			})
		}
		<script>
			// 載入字型。如果有更新 HTML 文字，記得重新執行一次 emfont.init()
			import "https://font.emtech.cc/emfont.js";
			declare const emfont: any;
			emfont.init();

			const addClassToVisibleElements = () => {
				var aosElements = document.querySelectorAll(".aos");
				aosElements.forEach(aosElement => {
					const rect = aosElement.getBoundingClientRect();
					const isInViewport = rect.bottom < 0 || rect.top > window.innerHeight;
					const isOver = rect.bottom < 0;
					aosElement.classList.toggle("over", isOver);
					aosElement.classList.toggle("appeared", !isInViewport);
				});
			};

			document.addEventListener("scroll", addClassToVisibleElements);
			addClassToVisibleElements();
		</script>
		<style is:global>
			/* is: global 代表是全域的 */
			/* 如果你直接寫 <style> 在 components 的話不用擔心，你的 CSS 只會作用在裡面 */

			:root {
				--black: #1d1d1f;
				--white: #ffffff;
				--gray: #6e6e73;
				--container: #f5f5f7;
				--gray-container: #e8e8ec;
			}

			* {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}

			body {
				color: var(--black);
			}

			body:has(.show) {
				overflow: hidden;
			}

			.aos-fadeIn {
				opacity: 0;
				transition: opacity 0.3s ease-out;
			}

			.aos-fadeIn.appeared {
				opacity: 1;
			}

			section {
				position: relative;
			}
		</style>
	</body>
</html>
