---
import Layout from "@layouts/Layout.astro";
import * as i18n from "src/i18n";
const lang = i18n.local(Astro.url.pathname);
const t = i18n.t(lang, {
	title: {
		"zh-Hant": "找不到頁面",
		"zh-Hans": "找不到页面",
		en: "Page Not Found"
	},
	description: {
		"zh-Hant": "抱歉，您訪問的頁面不存在。",
		"zh-Hans": "抱歉，您访问的页面不存在。",
		en: "Sorry, the page you are looking for does not exist."
	}
});
---

<Layout i18n={t.t} path="" title={t.title} theme="#333" lang={lang}>
	<main>
		<section>
			<h1>{t.title}</h1>
			<p>{t.description}</p>
		</section>
	</main>

	<style>
		main {
			display: flex;
			flex-direction: column;
			justify-content: center;
			min-height: 100vh;
			min-height: 100svh;
			padding: 2rem;
			text-align: center;
			color: #ddd;
		}

		h1 {
			margin-block: 1rem;
		}

		p {
			color: #aaa;
		}
	</style>
</Layout>
